.event-card-container {
  width: 500px;
  height: 350px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #ffe499;
  padding: 10px;
}

.header-container {
  height: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 205px;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
}
