.my-ev-c {
    width: 100%;
    height: 100%;
    padding: 20px;
}
.title {
    text-align: start;
    padding-left: 30px;
    font-size: 25px;
    outline: 2px;
    color: white;
    /* border-bottom: 2px solid black; */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.events-c {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}