.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-top {
    height: 120px;
    background-color: white;
    width: 100%;
}

.app-logo {
    background-color: blueviolet;
    width: 15%;
}

.logged-in-menu {
    justify-content: space-between;
    width: 85%;
}

.main-menu {
    margin-left: 100px;
    justify-content: flex-start;
    gap: 100px;
    width: 95%;
    
}

.side-menu {
    justify-content: space-evenly;
    width: 5%; 
    
}

.div-link {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.div-link:hover {
    border-bottom: 5px solid black;
    margin-bottom: -5px;
}

.side-img {
    max-width: 60%;
    max-height: 60%;
}

.side-button {
    display: flex;
    justify-content: center;
}
