.container-top {
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe499;
}
.app-name {
    font-weight: bold;
    font-size: 2rem;
}
.links-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.div-link {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: background-color 0.5s linear 0.1s , color 0.5s linear 0s;
}
.div-link:hover{
    background-color: rgb(197, 133, 23);
    color: white;
}