.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-top {
  height: 120px;
  background-color: #ffd95a;
  width: 100%;
}

.app-logo {
  background-color: blueviolet;
  width: 15%;
}

.logged-in-menu {
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.main-menu {
  margin-left: 100px;
  width: 95%;
}

.side-menu {
  justify-content: space-evenly;
  width: 5%;
}

.div-link {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.div-link:hover {
  border-bottom: 5px solid black;
  margin-bottom: -5px;
  cursor: pointer;
}

.side-img {
  max-width: 60%;
  max-height: 60%;
}

.side-button {
  display: flex;
  justify-content: center;
}
